<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlogs</title>
</head>
<body>
    
    <div id="blog1">
        <h2>Title of blog 1</h2>
        <p>Content of blog post 1</p>
        <p>Authored by : author</p>
        <p>Created Date : </p>
        <p>Published date : </p>
    </div>
    <div id="blog2">
        <h2>Title of blog 2</h2>
        <p>Content of blog post 2</p>
        <p>Authored by : author</p>
        <p>Created Date : </p>
        <p>Published date : </p>
    </div>
    <div id="blog3">
        <h2>Title of blog 3</h2>
        <p>Content of blog post 3</p>
        <p>Authored by : author</p>
        <p>Created Date : </p>
        <p>Published date : </p>
    </div>
</body>
</html>