.page-header {
    background-color:lightskyblue;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}



body{
    background-image: url('https://media.istockphoto.com/vectors/simple-vector-hand-draw-sketch-seamless-pattern-brown-background-cook-vector-id1130104983');
    background-attachment: scroll;
    width: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 4vw;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}


.post, .edit-post{
    margin-left: 35%;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width:980px){
    .post, .edit-post{
        margin-left: 0%;
    }
}

.post, .edit-post{
    background-color: azure;
    border: 1px solid darkblue;
    box-shadow: 5px 5px 5px grey;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    
}

.post:hover{
    box-shadow: 10px 10px 10px gray;
}

.post p{
    font-size: 15px;
}
.content {
    margin-left: 40px;
}


h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

.date {
    color: darkgray;
}

.loginform{
    margin-left: 40%;
    margin-top: 35px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: 5px 5px 5px gray;
    padding: 15px;
    width: 35em;
}

@media screen and (max-width:980px){
    .loginform{
        margin-left: 0%;
    }
}

.loginform:hover{
    box-shadow: 10px 10px 10px gray;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color:blue
}


tr,td{
    padding: 15px;
    border-spacing: 5px;    
    font-family: Arial, Helvetica, sans-serif;
}

  