.page-header {
    background-color: #17a7ea;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}



body{
    background-color: lightblue;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


.post, .edit-post{
    margin-left: 40%;
    margin-right: auto;
    width: 100%;
}

.post, .edit-post{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
}

.post p{
    font-size: 15px;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

.date {
    color: darkgray;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #17a7ea;
}

tr,td{
    padding: 15px;
    border-spacing: 5px;
}
  